# python

# python installations,execution ways,jupyter installations

## varaibles:
 - To store a value
 - to access the value in different functions,methods
 - to change value

In [15]:
a = 10

In [16]:
a

10

In [17]:
a=200
b='rajesh'
print(a)
print(b)

200
rajesh

In [18]:
a=200
b='raju'
a,b

(200, 'raju')

## Data types:
    - Int-only numbers
    - float-decimal points
    - string-either with ' or "

 c=23.000
t='tharun'

In [10]:
c,t=23.000,'tharun'

In [11]:
print(c,t)

23.0 tharun

# type:
    - to know the data type of the value
    -type(variablename,datastructure)

In [12]:
type(t)

str

In [13]:
g='12'
type(g)

str

In [14]:
print(type(c))

<class 'float'>

## Input():
    - by defalut it will be consider as a strtingvalue
    - print(),read()

In [20]:
a=input()
print(a,type(a))

'2'
'2' <class 'str'>

In [21]:
t=input("Enter the value:")
print(t,type(t))

Enter the value:k
k <class 'str'>

# type casting
    - converting one data in to another data type
    - int(),str(),float()

In [23]:
p=int(input("Enter only integer values:"))
print(p,type(p))

Enter only integer values:3
3 <class 'int'>

In [32]:
q=int(input("Enter the int value:"))
k=float(input("Enter the float value:"))
print("conversion of int value into float value:",float(q))
print("conversion of float value into int",int(k))
print("convesion of float and int value in to string"+"'"+str(k)+"'")

Enter the int value:12
Enter the float value:12.55
conversion of int value into float value: 12.0
conversion of float value into int 12
convesion of float and int value in to string'12.55'

# DAY 3

## Output:
- %
- , +
- .format

In [8]:
n=int(input("Enter the number: "))
m=input("Enter the name: ")
print("Entered number is: %d"%n)
print("Entered name is: %s"%m)

Enter the number: 22
Enter the name: teja
Entered number is: 22
Entered name is: teja

In [9]:
print("Entered number is : %d and Entered Name is: %s"%(n,m))

Entered number is : 22 and Entered Name is: teja

In [10]:
print("Entered number is: {} and Entered name is: {}".format(n,m))
print("Entered number is: {0} and Entered name is: {1}".format(n,m))
print("Entered number is: {1} and Entered number is: {0}".format(n,m))

Entered number is: 22 and Entered name is: teja
Entered number is: 22 and Entered name is: teja
Entered number is: teja and Entered number is: 22

# Operators:
    - Arthimetic operators -> +,-,*,/,%,floor(// -> Exact integer),exponential(** => pow())
    - logical -> AND,OR,NOT
    - bitwise -> &&,||,>>,<<
    - relational -> ==,!=,<=,>=,<,>
    - assignment -> +=,_=,*=,/=,%=
    - membership -> in,not in
    - Identity -> is,is not

In [12]:
a=15
print(a>>2)

3

# Conditional statements:
    - To check whether a given condition is either true or false
    - if,nested if,if-else,elif ladder

## If -> Single case [T or F]
    - syntax:
        if(condition):
        //stmt

In [19]:
n=int(input())
if n == 45:
    print("Entered value is: {}".format(n))
print("it is not 45:",n)

12
it is not 45: 12

## if-else -> Two cases[T or F]
    - syntax:
        if(condition):
            // True statement
        else:
            // False

In [21]:
k=int(input())
m=int(input())
if k == m:
    print("Entered value {} and {} are equal".format(k,m))
else:
    print("Entered value {} is not equal to {}".format(k,m))

21
21
Entered value 21 and 21 are equal

## Nested if [if within a if] -> one or more cases
    - syntax:
        if(condition1):
            if(condition2):
                //statement-1
        if(condition1):
            if(condition2):
                //statement-2
            else:
                //statement-3
        else:
           //statement-4

In [23]:
n=int(input())
if (n<200):
    if(n==100):
        print("Entered value {} is equal to 100".format(n))
    else:
        print("Entered value {} is not equal to 100 but it is lower than 200".format(n))
else:
    print("Entered value {} is greater than 200".format(n))

100
Entered value 100 is equal to 100

# Elif -> two or more cases
    - syntax;
        if(condition1):
            //stmt_1
        elif(condition2):
            //stmt_2
        elif(conditionn):
            //stmt_3
            | | | | |
        else:
            //stmt-(n+1)

In [33]:
h=int(input())
if h%2==0 and h%4 == 0:
    print("entered value %d is divisible by 2 and 4"%h)
elif h%4 == 0:
    print("Entered value %d is divisible by 4"%h)
elif h%2==0:
    print("Entered value %d is divisible by 2"%h)
else:
    print("entered value %d is not divisble by 2"%h)

12
entered value 12 is divisible by 2 and 4

## control statements,iterations,Loops,Repition
    - To control the flow of Execution
    - for,while

## For -> For particular Range => [know Ranges]
    - Syntax:
        for iteration_variable in iterator:
            //stmt
         for iteration_variable in range():
             //stmt

### Range
    
    range(n):
        -> By default it starts from 0 to n-1
    range(n,m):
        -> start range from exactly n and stops at m-1
        => range(4,8)=4,5,6,7
    range(n,m,s)
        -> start range from exactly at n and stops at m-1 and stepping to s
        => range(4,10,2)=4,6,8

In [36]:
n=int(input())
for b in range(n):
    print(b,end="")

5
01234

In [38]:
n=int(input())
m=int(input())
for b in range(n,m):
    print(b,end="")

10
120
101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100101102103104105106107108109110111112113114115116117118119

In [45]:
n=int(input("starting from:"))
m=int(input("ending with:"))
s=int(input("Stepping value:"))
for b in range(n,m,s):
    print(b,end=",")

starting from:10
ending with:50
Stepping value:5
10,15,20,25,30,35,40,45,

In [46]:
n=int(input("starting from:"))
m=int(input("ending with:"))
s=int(input("stepping value:"))
for b in range(m,n,-s):
    print(b,end=",")

starting from:21
ending with:32
stepping value:2
32,30,28,26,24,22,