# set

In [1]:
g={'a',45,120,155,"ramu"}
print(g)

{'a', 45, 120, 155, 'ramu'}

In [2]:
g

{120, 155, 45, 'a', 'ramu'}

In [4]:
h={}
m={2}
print(h,type(h))
print(m,type(m))

{} <class 'dict'>
{2} <class 'set'>

In [6]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [7]:
s1={32,65,'tej','kunchala'}
s1.add("prasanna")
print(s1)

{32, 65, 'kunchala', 'prasanna', 'tej'}

In [17]:
print(s1)
s1.pop()
print(s1)

{'kunchala', 'prasanna'}
{'prasanna'}

In [18]:
print(s1)

{'prasanna'}

In [21]:
s2={45,8,9,74,99}
s3={32,1,2,4,6,8,90}
print(s2)
print(s3)
print(s3.union(s2))
print(s2)
print(s3)
print(s3.intersection(s2))

{99, 8, 9, 74, 45}
{32, 1, 2, 4, 6, 8, 90}
{32, 1, 2, 99, 4, 6, 8, 9, 74, 45, 90}
{99, 8, 9, 74, 45}
{32, 1, 2, 4, 6, 8, 90}
{8}

# dictionary

In [22]:
t={'name':("ramu","suresh","tejaswini"),'age':20,'sai':[24.500,48.560]}
print(t,type(t))

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sai': [24.5, 48.56]} <class 'dict'>

In [23]:
print(t['name'][0])

ramu

In [24]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [25]:
print(t.keys())

dict_keys(['name', 'age', 'sai'])

In [27]:
print(t.values())

dict_values([('ramu', 'suresh', 'tejaswini'), 20, [24.5, 48.56]])

In [29]:
y={'name':"tilak","age":[45,59],"sai":0}
print(y)

{'name': 'tilak', 'age': [45, 59], 'sai': 0}

In [30]:
print(t.items())

dict_items([('name', ('ramu', 'suresh', 'tejaswini')), ('age', 20), ('sai', [24.5, 48.56])])

In [31]:
print(t.get('age'))

20

In [32]:
print(t)
t['num']=547
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sai': [24.5, 48.56]}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sai': [24.5, 48.56], 'num': 547}

In [33]:
print(t)
t.setdefault('tr')
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sai': [24.5, 48.56], 'num': 547}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sai': [24.5, 48.56], 'num': 547, 'tr': None}

In [39]:
t.update({'tr':46})
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sai': [24.5, 48.56], 'num': 547, 'tr': 46}

In [41]:
t.pop('tr')
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sai': [24.5, 48.56], 'num': 547}

In [42]:
t.popitem()
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sai': [24.5, 48.56]}

In [43]:
q=['name','age','sai']
w=[12,45,78,98,45]
print(q)
print(w)
f={'name':34,'donor':45}
f.fromkeys(q)
f.fromkeys(w)
print(q)
print(w)

['name', 'age', 'sai']
[12, 45, 78, 98, 45]
['name', 'age', 'sai']
[12, 45, 78, 98, 45]