# Input:10
output:1
    19KQ1A0547
    | | | | |
    19KQ1A0556

In [17]:
n=int(input())
for j in range(47,65):
    print("19KQ1A05{:02}".format(j))

10
19KQ1A0547
19KQ1A0548
19KQ1A0549
19KQ1A0550
19KQ1A0551
19KQ1A0552
19KQ1A0553
19KQ1A0554
19KQ1A0555
19KQ1A0556
19KQ1A0557
19KQ1A0558
19KQ1A0559
19KQ1A0560
19KQ1A0561
19KQ1A0562
19KQ1A0563
19KQ1A0564

## while -> unknown ranges,known ranges
```
    syntax:
        variable init
        while(condition):
            \\stmt
            \\inr/dec
        
```

In [1]:
n=int(input())
while n!=10:
    print(n,end=" ")
    n=n-1

20
20 19 18 17 16 15 14 13 12 11

In [2]:
m=int(input())
i=1
while m!=i:
    print(i,end=" ")
    i=i+1

10
1 2 3 4 5 6 7 8 9

```
    n=1259
    given number is:1259
    reverse of a number is:9521
    Given number 1259 and its reverse is:9521
```

In [15]:
n=int(input())
reverse=0
p=n
while n>0:
    reverse=reverse*10+n%10
    n=n//10
print("reverse of the number %d is %d"%(p,reverse))

125
reverse of the number 125 is 521

## Jumping statements:
    - break->exit
    - continue->skip 
    - pass->skip nothing will be provided
    - return->value to be sent for functions

In [17]:
n=int(input())
for k in range(n+1):
    print(k,end=",")

10
0,1,2,3,4,5,6,7,8,9,10,

In [21]:
n=int(input())
for h in range(n):
    if h==5:
        break
    else:
        print(h,end=",")

10
0,1,2,3,4,

In [22]:
n=int(input())
for h in range(n):
    if h==5:
        continue
    else:
        print(h,end=",")

11
0,1,2,3,4,6,7,8,9,10,

In [23]:
n=int(input())
for h in range(n):
    if h==10:
        pass
    else:
        print(h,end=",")

20
0,1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,

## inner loops:
    - Loop with in a loop
    
```
    syntax:
        for i in range():
            for j in range():
                if(conditional-n):
                    //stmt
                else:
                    //stmt
            print("/n")
```

```
    1-31
    r-5
    c-7
    
    step-1
    01 02 03 04 05 06 07
    08 09 10 11 12 13 14 
    15 16 17 18 19 20 21
    22 23 24 25 26 27 28
    29 30 31
```

In [26]:
for i in range(1,6):
    for j in range(1,8):
        print(i,end="")
    print(end="\n")

1111111
2222222
3333333
4444444
5555555

In [32]:
a=1
for i in range(1,6):
    for j in range(1,8):
        if a<=31:
            print(a,end=" ")
        else:
            break
        a=a+1
    print(end="")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31

In [37]:
a=1
for i in range(1,6):
    for j in range(1,8):
        if a<=31:
            if a%2==0:
                print("**",end=" ")
            else:
                print("*",end=" ")
        else:
            break
        a=a+1
    print(end=" ")

* ** * ** * ** *  ** * ** * ** * **  * ** * ** * ** *  ** * ** * ** * **  * ** *